.sideNav {
  margin: 0;
  padding: 0;
  width: 15%;
  position: fixed;
  height: 100%;
  overflow: auto;
  border: 1px solid yellow;
  box-shadow: 1px 5px ivory;
  background: rgb(214, 137, 21);
}

.sideItems {
  list-style-type: none;
}
.sideItem {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 40px;
}

.sideItem a {
  text-decoration: none;
  font-size: 20px;
  margin-right: 15%;
}
.sideItem a:hover {
  color: #0e4f1f;
}
.social {
  padding-top: 80px;
  padding-left: 20px;
}
.logo {
  margin-bottom: 15%;
  margin-right: 10%;
  margin-top: 40%;
}

/* SideNavMobile CSS*/

.topnav a {
  color: black;
  padding: 8px 8px;
  text-decoration: none;
  font-size: 15px;
  display: block;
}

.topnav a.icon {
  display: block;
  position: absolute;
  left: 10px;
  top: 25px;
}
.links {
  margin-top: 40px;
  padding-left: 30px;
}
.headerLayout {
  display: flex;
  flex-direction: row;
}
.topnav {
  display: flex;
}
.logoHeader {
  display: flex;
  margin-left: 140px;
  margin-top: 20px;
}
/* .socialLinks {
  display: flex;
  margin-top: -200px;
} */
#socialLinks {
  width: 82%;
  margin: 15px auto 0 auto;
  padding: 2%;
  border-radius: 12px;
  border: 1px solid #e0e0e0;
  display: table;
}
#socialLinks ul li {
  display: table-cell;
}
#socialLinks ul li a {
  vertical-align: middle;
  text-align: center;
}
#socialLinks ul li a img {
  vertical-align: middle;
  text-align: center;
}
@media only screen and (max-width: 769px) {
  .sideNav {
    width: 40%;
    position: relative;
  }
}
