.sideNav {
  margin: 0;
  padding: 0;
  width: 15%;
  position: fixed;
  height: 100%;
  overflow: auto;
  border: 1px solid yellow;
  box-shadow: 1px 5px ivory;
  background: rgb(214, 137, 21);
}

.sideItems {
  list-style-type: none;
}
.sideItem {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 40px;
}

.sideItem a {
  text-decoration: none;
  font-size: 20px;
  margin-right: 15%;
}
.sideItem a:hover {
  color: #0e4f1f;
}
.social {
  padding-top: 80px;
  padding-left: 20px;
}
.logo {
  margin-bottom: 15%;
  margin-right: 10%;
  margin-top: 40%;
}

/* SideNavMobile CSS*/

.topnav a {
  color: black;
  padding: 8px 8px;
  text-decoration: none;
  font-size: 15px;
  display: block;
}

.topnav a.icon {
  display: block;
  position: absolute;
  left: 10px;
  top: 10px;
}
.links {
  margin-top: 10%;
  padding-left: 8%;
}
@media only screen and (max-width: 769px) {
  .sideNav {
    width: 40%;
    position: relative;
  }
}
