.intro-fullBackground {
  padding: 1px 16px;
  display: flex;
}
.profilePic {
  display: flex;
  margin-top: 100px;
  margin-left: 100px;
}
.heading {
  display: flex;
  margin-top: 100px;
  margin-left: 100px;
  flex-direction: column;
}

img {
  border-radius: 50%;
}

.profile-img {
  width: 410px;
  height: 395px;
  margin-left: 200px;
}

@media only screen and (max-width: 769px) {
  .profilePic {
    width: 100px;
    height: 100px;
    margin-left: -150px;
    margin-top: -400px;
  }
  .profile-img {
    width: 250px;
    height: 250px;
  }
  .intro-fullBackground {
    align-items: center;
  }
  .heading {
    margin-top: 300px;
    flex: 1;
  }
}
