.heading{
    width:70%;
    margin-right:2%;
    padding-left: 30px;
    margin-top: 10%;
}

  .profilePic{
    width:42%;
    float: left;
  }

  img{
      border-radius: 50%;
      margin-top: 25%;
      margin-left: 10%;
  }
  .clearfix{
    clear:both
}
  .fullBackground{
    margin-left:15%;
    padding:1px 16px;
  }

  @media only screen and (max-width: 769px) {
    .fullBackground {
        margin-left:1%;
        display: flexbox;
        float: none;
    }
  }